*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    color: inherit;
    text-decoration: inherit;
}
li{
    list-style: none;
}
button,input, textarea, select{
    outline: none;
    border: none;
}
img{
    max-width: 100%;
    max-height: 100%;
} 
.header{
    width: 100%;
    height: 60px;
    padding: 10px 0;
}
.side{
    background: transparent;
    cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-left: 20px;
}
.sidebar{
    width: 250px;
    min-height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    left: -250px;
    transition: .3s;
}
.sidebar.active{
    left: 0;
}
.sidebar__collection{
    display: flex;
    flex-direction: column;
}
.sidebar__item{
    width: 100%;
    display: flex;
    padding: 15px 30px 15px 15px;
    gap: 10px;
    align-items: center;
    transition: .3s ease-in;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.sidebar__item .active,
.sidebar__item:hover{
    background: #EEF2F5;
    border-radius: 10px;
    cursor: pointer;
}      
.sidebar .logos{
    margin-right: 15px;
    padding: 15px 30px 15px 15px;
} 

.search__input{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.search__inp{
    box-shadow: 0px 1px 2px 0px #EEEEEE inset;
    border: 1px solid #CCCCCC;
    border-radius: 7px;
    padding: 5px 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.micro{
    background: #eee;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.micro__popup{
    background: #fff;
    border: 1px solid #ccc;
    width: 250px;
    height: 250px;
    position: fixed;
    top: 10%;
    left: 50%;
    opacity: 0;
    margin-top: 100px;
    pointer-events: none;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.micro__popup.active{
    pointer-events: auto;
    opacity: 1;
    margin-top: 0;
}
.profile__details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-right: 100px;
}
.create{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #ccc;
    padding: 7px;
    border-radius: 7px;
    
}
.stream{
    width: 150px;
    height: 148px;
    background: #fff;
    position: fixed;
    top: 60px;
    border: 1px solid #ccc;
    opacity: 0;
    pointer-events: none;
    transition: .2s ease-in;
    margin-top: 50px;
}
.stream.active{
    pointer-events: auto;
    opacity: 1;
    margin-top: 0;
}
.stream__item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 10px 15px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.stream__item img{
    font-size: 3rem;
}
.notify{
    background: transparent;
    font-size: 2rem;
}
.notifications{
    opacity: 0;
    pointer-events: none;
    transition: .2s ease-in;
    position: fixed;
    top: 60px;
    left: 77%;
    width: 350px;
    height: 350px;
    margin-top: 100px;
    border: 1px solid #ccc;
    z-index: 5;
    background: #fff;
}
.notifications.active{
    pointer-events: auto;
    opacity: 1;
    margin-top: 0;
}
.profile{
    font-size: 15px;
    background: crimson;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
}
.profile__detail{
    width: 250px;
    min-height: 70vh;
    opacity: 0;
    pointer-events: none;
    transition: .2s ease-in;
    position: fixed;
    top: 60px;
    left: 80%;
    border-radius: 15px;
    border: 2px solid #808080;
    z-index: 70;
    background: #fff;
}
.profile__detail.active{
    pointer-events: auto;
    opacity: 1;
    margin-top: 0;
}
.profile__collection{
    display: flex;
    flex-direction: column;
}
.profile__item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 10px 15px 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    transition: .2s ease;
}
.profile__item img{
    font-size: 2rem;
}
.profile__item:hover{
    background: #EEF2F5;
    border-radius: 10px;
    cursor: pointer;
}
.wrapper{
    width: 100%;
    min-height: 80vh;
    margin-top: 10px;
    display: flex;
    gap: 30px;
}
.content{
    min-width: 100vh;
    flex-direction: column;
    display: flex;
    margin-left: 20px;
}
.content__video iframe{
    min-width: 1416px;
    min-height: 700px;
}


